<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Adminpage</title>
        <link rel="stylesheet" type="text/css" href="../static/css/homepage.css">
    </head>
    <body>
        <nav class="topnav">
            <a class = "active" href="/">Sign Out</a>
        </nav>
        <h1 >XYZ MART</h1><br>
        <div>
            <a class="button" href="{{ url_for('additem') }}">Add items</a>
            <a class="button" href="{{ url_for('deleteitem') }}">Delete Items</a>
            <a class="button" href="{{ url_for('display') }}">Catalogue</a>
            <a class="button" href="">Invoice Generation</a>
            <a class="button" href="">Sales Report</a>
        </div>
        <footer>
            <p>Developed by: Piyush and Vishal</p>
        </footer>
    </body>
</html>